.log-list {
  position: absolute;
  bottom: 0;
  width: 100%;

  .list-header {
    line-height: 2;
    font-size: 0.9rem;
    background-color: var(--neutral40);
    color: var(--background);
    display: flex;
  }

  .list-header-time {
    margin-left: 2rem; /* there is probably a way to rely on the widths used by flexbox in the scrollable area, but this works for now */
    width: 12rem; /* there is probably a way to rely on the widths used by flexbox in the scrollable area, but this works for now */
  }

  .list-body {
    overflow-y: scroll;
    height: calc(80vh - 1.35rem);
  }

  .log-list-item {
    font-size: 0.8125rem;
    font-family: var(--fontFamilyCode);
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow-y: auto;

    &:nth-of-type(2n) {
      background: var(--list-zebra);
    }

    &.open {
      background-color: var(--selected);
    }

    .item-summary {
      padding: 0.5rem 0.5rem 0.5rem 0.5rem;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      &::before {
        content: '▸';
        font-size: 1.2rem;
        line-height: 0.6;
        color: var(--neutral50);
      }
      .open & {
        &::before {
          content: '▾';
        }
      }
      .item-raw {
        overflow-x: hidden;
      }
    }
  }
}
