/* We don't have a complete Design System or anything, but CSS vars let us set up a bit of a theme and manage it centrally */
:root {
  --black: #333333;
  --white: #eeeeee;
  --maroon: #800000;

  --blue-hue: 211;
  --blue-saturation: 80%;
  --blue10: hsl(var(--blue-hue), var(--blue-saturation), 10%);
  --blue20: hsl(var(--blue-hue), var(--blue-saturation), 20%);
  --blue30: hsl(var(--blue-hue), var(--blue-saturation), 30%);
  --blue40: hsl(var(--blue-hue), var(--blue-saturation), 40%);
  --blue50: hsl(var(--blue-hue), var(--blue-saturation), 50%);
  --blue60: hsl(var(--blue-hue), var(--blue-saturation), 60%);
  --blue70: hsl(var(--blue-hue), var(--blue-saturation), 70%);
  --blue80: hsl(var(--blue-hue), var(--blue-saturation), 80%);
  --blue90: hsl(var(--blue-hue), var(--blue-saturation), 90%);

  --neutral-hue: 211;
  --neutral-saturation: 20%;
  --neutral10: hsl(var(--neutral-hue), var(--neutral-saturation), 10%);
  --neutral20: hsl(var(--neutral-hue), var(--neutral-saturation), 20%);
  --neutral30: hsl(var(--neutral-hue), var(--neutral-saturation), 30%);
  --neutral40: hsl(var(--neutral-hue), var(--neutral-saturation), 40%);
  --neutral50: hsl(var(--neutral-hue), var(--neutral-saturation), 50%);
  --neutral60: hsl(var(--neutral-hue), var(--neutral-saturation), 60%);
  --neutral70: hsl(var(--neutral-hue), var(--neutral-saturation), 70%);
  --neutral80: hsl(var(--neutral-hue), var(--neutral-saturation), 80%);
  --neutral90: hsl(var(--neutral-hue), var(--neutral-saturation), 90%);

  --background: var(--white);
  --text: var(--black);
  --selected: var(--blue80);
  font-size: 16px; /* set up our 1rem unit */
  --fontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --fontFamilyCode: 'Menlo', 'Monaco', 'Lucida Console', 'Liberation Mono',
    'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace;
  --code: var(--maroon);
  --list-zebra: var(--neutral80);
}

body {
  color: var(--text);
  background-color: var(--background);
  font-family: var(--fontFamily);
  padding: 0;
  margin: 0;
}
